<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contato">
            <h2><span jhiTranslate="clinicaNetApp.contato.detail.title">Contato</span> {{contato.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="clinicaNetApp.contato.name">Name</span></dt>
                <dd>
                    <span>{{contato.name}}</span>
                </dd>
                <dt><span jhiTranslate="clinicaNetApp.contato.value">Value</span></dt>
                <dd>
                    <span>{{contato.value}}</span>
                </dd>
                <dt><span jhiTranslate="clinicaNetApp.contato.observation">Observation</span></dt>
                <dd>
                    <span>{{contato.observation}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contato-clinic', contato.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
