<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-medico-clinic-heading" jhiTranslate="clinicaNetApp.medico.home.createOrEditLabel">Create or edit a Medico</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!medico.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="medico.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clinicaNetApp.medico.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="medico.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clinicaNetApp.medico.crm" for="field_crm">Crm</label>
                    <input type="number" class="form-control" name="crm" id="field_crm"
                        [(ngModel)]="medico.crm" required/>
                    <div [hidden]="!(editForm.controls.crm?.dirty && editForm.controls.crm?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.crm?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.crm?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clinicaNetApp.medico.especialidades" for="field_especialidades">Especialidades</label>
                    <select class="form-control" name="especialidades" [(ngModel)]="medico.especialidades" id="field_especialidades" >
                        <option value="CARDIO">{{'clinicaNetApp.Especialidade.CARDIO' | translate}}</option>
                        <option value="ENDOCRINOLOGIA">{{'clinicaNetApp.Especialidade.ENDOCRINOLOGIA' | translate}}</option>
                        <option value="ORTOPEDIA">{{'clinicaNetApp.Especialidade.ORTOPEDIA' | translate}}</option>
                        <option value="PEDIATRIA">{{'clinicaNetApp.Especialidade.PEDIATRIA' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clinicaNetApp.medico.contato" for="field_contato">Contato</label>
                    <select class="form-control" id="field_contato" name="contato" [(ngModel)]="medico.contato" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contatoOption.id === medico.contato?.id ? medico.contato : contatoOption" *ngFor="let contatoOption of contatoes; trackBy: trackContatoById">{{contatoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
