<div>
    <h2 id="page-heading">
        <span jhiTranslate="clinicaNetApp.medico.home.title">Medicos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medico-clinic" [routerLink]="['/medico-clinic/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="clinicaNetApp.medico.home.createLabel">
            Create new Medico
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="medicos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="clinicaNetApp.medico.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="crm"><span jhiTranslate="clinicaNetApp.medico.crm">Crm</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="especialidades"><span jhiTranslate="clinicaNetApp.medico.especialidades">Especialidades</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contato.id"><span jhiTranslate="clinicaNetApp.medico.contato">Contato</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medico of medicos ;trackBy: trackId">
                <td><a [routerLink]="['/medico-clinic', medico.id, 'view' ]">{{medico.id}}</a></td>
                <td>{{medico.nome}}</td>
                <td>{{medico.crm}}</td>
                <td jhiTranslate="{{'clinicaNetApp.Especialidade.' + medico.especialidades}}">{{medico.especialidades}}</td>
                <td>
                    <div *ngIf="medico.contato">
                        <a [routerLink]="['../contato-clinic', medico.contato?.id, 'view' ]" >{{medico.contato?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/medico-clinic', medico.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medico-clinic', medico.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medico-clinic/'+ medico.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="medicos && medicos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
